/**
 * Footer
 */
.ft-Section {
  background-color: $footer-background-color;
  color: #fff;
  font-size: 0.8rem;

  .cs-sns-icon-link {
    &:first-child {
      margin-left: 0 !important;
    }
    svg {
      height: 1.5rem;
      max-width: 2.5rem;

      path {
        stroke: #fff !important;
        fill: #fff !important;

        transition: stroke 0.2s, fill 0.2s;
        transition-property: stroke, fill;
        transition-duration: 0.2s;
        transition-timing-function: ease;
        transition-delay: 0s;
        text-decoration: none;
      }
      &:hover {
        path {
          stroke: #ccc !important;
          fill: #ccc !important;
        }
      }
    }
  }

  .cs-copyright {
    font-size:12px;
  }
}
