/**
 * HeaderNav
 */
.nav-Section {
  .nav {
    background-color: $nav-background-color;
    border-bottom: solid 1px $nav-border-color;
  }

  .cs-title {
    font-size: 1.0rem;
    font-weight: 600;
    color: $nav-color-link;
    @include breakpoint(md) {
      font-size: 1.2rem; 
    }
  }

  .cs-menu-link {
    font-size: 0.8rem;
    @include static-link-color($nav-color-link, $nav-color-link-hover);
    @include breakpoint(md) {
      font-size: 1.0rem;
    }
  }
}
