/**
 * Single
 */
.sn-Section {
  .cs-title {
    font-size: 1.6rem;
    font-weight: 600;
    @include breakpoint(md) {
      font-size: 2rem;
    }
  }

  .title {
    font-weight: 600;
    font-size: 1.2rem;
  }

  .cs-subtitle {
    font-size: 0.8rem;
  }

  .cs-tags {
    font-size: 1rem;
    font-weight: 600;
    font-weight: normal;
    &:first-child {
      margin-left: 0 !important;
    }
    @include static-link-color($color-link, $color-link-hover);
  }

  .content {
    a {
      position: relative;
      display: inline-block;
      font-size: 1rem;
      font-weight: 600;
      background: 0 0;
      @include static-link-color($color-link, $color-link-hover);
    }

    h2 {
      position: relative;
      color: $color-h2;
      font-size: 22px;
      font-weight: 600;
      padding-bottom: 0.3em !important;

      &:first-child,
      &:not(:first-child) {
        margin: 2.5em 0 1em 0;
      }
    }

    h3 {
      &:first-child,
      &:not(:first-child) {
        margin: 2.5em 0 1em 0;
      }

      h2 + &:first-child,
      h2 + &:not(:first-child) {
        margin: 2.5em 0 1em 0;
      }

      color: $color-h3;
      font-size: 18px;
      font-weight: 600;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 20px 0 10px;
      padding: 0;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
      cursor: text;
      position: relative;
    }

    h2:first-child,
    h1:first-child,
    h1:first-child + h2,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    h1:hover a.anchor,
    h2:hover a.anchor,
    h3:hover a.anchor,
    h4:hover a.anchor,
    h5:hover a.anchor,
    h6:hover a.anchor {
      text-decoration: none;
    }

    h1 tt,
    h1 code {
      font-size: inherit;
    }

    h2 tt,
    h2 code {
      font-size: inherit;
    }

    h3 tt,
    h3 code {
      font-size: inherit;
    }

    h4 tt,
    h4 code {
      font-size: inherit;
    }

    h5 tt,
    h5 code {
      font-size: inherit;
    }

    h6 tt,
    h6 code {
      font-size: inherit;
    }

    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 24px;
      border-bottom: 1px solid #cccccc;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }

    h5 {
      font-size: 14px;
    }

    h6 {
      font-size: 14px;
    }

    ol:not(:last-child),
    p:not(:last-child),
    pre:not(:last-child),
    table:not(:last-child),
    ul:not(:last-child) {
      margin-bottom: 1em;
    }

    strong {
      font-size: 16px;
    }

    dl {
      margin-bottom: 1em;
    }
    dt {
      font-weight: 700;
    }
    dd + dt {
      margin-top: 0.25em;
    }
    dd {
      padding-left: 1em;
    }
    table {
      padding: 0;
    }
    table tr {
      border-top: 1px solid #cccccc;
      background-color: white;
      margin: 0;
      padding: 0;
    }

    table tr:nth-child(2n) {
      background-color: #f8f8f8;
    }

    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px;
    }

    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px;
    }

    table tr th :first-child,
    table tr td :first-child {
      margin-top: 0;
    }

    table tr th :last-child,
    table tr td :last-child {
      margin-bottom: 0;
    }

    dl {
      padding: 0;
    }

    dl dt {
      font-size: 16px;
      font-weight: bold;
      font-style: italic;
      padding: 0;
      margin: 15px 0 5px;
    }

    dl dt:first-child {
      padding: 0;
    }

    dl dt > :first-child {
      margin-top: 0;
    }

    dl dt > :last-child {
      margin-bottom: 0;
    }

    dl dd {
      margin: 0 0 15px;
      padding: 0 15px;
    }

    dl dd > :first-child {
      margin-top: 0;
    }

    dl dd > :last-child {
      margin-bottom: 0;
    }
  }
}
