/**
 Color policy

 Base gray 3f3a40
 Theem Color1 1c84da
 Theem Color2 ed3e4e
 */

$color-txt: #3f3a40;
$color-h2: #3f3a40;
$color-h3: #3f3a40;

$color-link: #1c84da;
$color-link-hover: #105489;

$color-link-button: #6B818E;
$color-link-button-hover: #105779;

$section-margin-top: 30px;
$container-width-margin: 42px;

$nav-color-link: #3f3a40;
$nav-color-link-hover: #bbb;
$nav-background-color: #fff;
$nav-border-color: #3f3a40;

$footer-background-color: #3f3a40;

$pg-color-link: #fff;
$pg-color-link-hover: #aaa;
