@import "./scss/import";


/**
 * Base styles
 */
body {
  color: $color-txt;

  // need font of paragraph text?
  font-family: "Noto Sans", sans-serif !important;
  html[lang="ja"] & {
    font-family: "Noto Sans JP", sans-serif !important;
  }
}

h1,
h2,
h3,
h4 {
  @include headerText;
}

a {
    transition: color .2s;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    text-decoration: none;
}


@import "./scss/_index";
@import "./scss/_single";
@import "./scss/_pager";
@import "./scss/_nav";
@import "./scss/_footer";
@import "./scss/_syntax";
@import "./scss/_syntax_override";