{{ partial "header" . }}
<section class="sn-Section m-0 p-0">
  <div class="px-4 px-lg-5 pt-5 pb-5">
    <h1 class="cs-title">{{ .Title }}</h1>
    {{if not .Date.IsZero }}<h2 class="cs-subtitle pt-2">{{ .Date.Format .Site.Params.Format.date }}</h2>{{ end }}
    <div class="m-0 p-0">
      {{ if .Params.tags }}
        {{ partial "tags" .Params.tags }}
      {{ end }}
    </div>
    {{ if and (.Site.Params.Info.adsense) (.Params.adsenseTop) }}
      {{ partial "adsense" . }}
    {{ end }}
    <div class="content sn-Content mt-5">
      {{ .Content }}
      {{ if .Site.Params.Info.related }}
      <div class="related">{{ partial "related" . }}</div>
      {{ end }}
    </div>
    {{ if and (.Site.Params.Info.adsense)  (.Params.adsenseBottom) }}
      {{ partial "adsense" . }}
    {{ end}}
  </div>
</section>