/* You can add custom styles here. */
@import "plugins/scrollbars";

$font-color: #333;
$link-color: #1c84da;
$icon-color: #444;

// Common
body {
  color: $font-color;
}

a {
  color: #1c84da;
  &:visited {
    color: #1c84da;
  }
}

// Prevents rattling.
body, .book-toc nav {
  overflow-y: scroll;
}

// Whole view
main.container {
  max-width: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

// Left nav
.book-menu nav {
  .book-brand {
    font-size: 1.5rem;
  }
  .book-search {
    margin: 0;
    font-size: 1.0rem;
  }
  .book-contents {
    font-size: 1.0rem;
  }
  .sns-menu {
    font-size: 1.0rem;
    margin: 3rem 0 0 0;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: left;

      li {
        margin: 0 1rem 0 0;
      }

      .icon-github, .icon-linkedin, .icon-devto {
        svg {
          height: 26px;
          width: auto;
          path {
            fill: $icon-color !important;
          }
        }
      }
    }
  }
}

// Right Nav
.book-toc {
  flex: 0 0 12rem;

  nav {
    width: 12rem;
  }

  .book-section-flat {
    font-size: 0.9rem;
  }
}

@import "_github-markdown.scss";
